body{
    background-color: rgb(153, 151, 151);
}
#swords{
    display: flex;
    padding: 50px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}   

#sword img{
    width: 100%;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}
#sword{
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}